<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>University of Knowit - Student</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
<link rel="stylesheet" href="css/style2.css" media="all" type="text/css"></link>
<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='newest stylesheet' type='text/css'></link>
<script type="text/javascript" language="javascript" src="js/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
</head>
<body>
<div class="wrap">
	<img src="images/logo.png" class="logo"></img>
	<a href="/" class="navi">Home</a>
<div class="main">
<div>
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><h2><b>Students Grade List</b></h2></div>  
  <div class="panel-body">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th><b>Id</b></th>
				<th><b>Student Name</b></th>
				<th><b>Course-1</b></th>
				<th><b>Course-2</b></th>
				<th><b>Course-3</b></th>
				<th><b>Course-4</b></th>
				<th><b>Course-5</b></th>
				<th><b>Final Average</b></th>
				<th><b>Weighted Average Grade</b></th>
				<th><b>Actions</b></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="student : ${students}">
				<td th:text="${student.id}"></td>
				<td th:text="${student.name}"></td>
				<td th:text="${student.course1}"></td>
				<td th:text="${student.course2}"></td>
				<td th:text="${student.course3}"></td>
				<td th:text="${student.course4}"></td>
				<td th:text="${student.course5}"></td>
				<td th:text="${student.avggrade}"></td>
				<td th:text="${student.weightgrade}"></td>
				<td>
					<form style ='float:left; padding:5px; height:0px' th:method="delete" th:action="@{'/students/'+${student.id}}"><button class="btn btn-default btn-xs" type="submit"><span class="glyphicon glyphicon-trash"></span></button></form>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
	</div>
	</div>
	<div class="clear"></div>
	<div class="content">
	<div class="clear"></div>
	</div>
	</div>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>